# Godot 4+ specific ignores
.godot/
/android/
.vs
/.vs/ProjectEvaluation
/Assets
/Properties
/icon.svg
/icon.svg.import
/Item.tres
/TestResults/
/project.godot
/.vs/Playground
/addons
/src/Last Breath/Assets
/src/Last Breath/.vs
/src/Testing/bin
/src/Testing/obj
